@charset "UTF-8";
/*---------Wrapper values----------*/
.Wrapper {
	max-width : 1024px;
	margin: 0 auto;
	font-family: "Jubilat";
	font-size: 1.1em;
}
/* angiver all top elementer i wrapper for angivet disse værdier*/
.Wrapper > * {
	border: 2px solid #D0D0D0;
	background-color: white;
	border-radius: 5px;
	padding: 10px;
}
/* giver bagrunden til hejmmesiden en farve. den er hed nede, for at farven går helt ud til kanten*/
body {
	background-color: #D0E8EA;
}

/*--------------------------------*/
/* anden fonts til titler der er sat i h1 og h2*/
h1, h2 {
	font-family: "balloon-d", sans-serif;
}

/*------ element angivelse--------*/
.main-head {
	grid-area: header;
}
.article_content {
	grid-area: content;
}
.article_text {
	grid-area: text;
} 					/*???*/
.main-nav {
	grid-area: nav;
}

.main-footer {
	grid-area: footer;
}

/*--------------------------------*/

/* website rækkefølge/opbyggelse*/
.Wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "nav"
    "content"
    "text"
    "ad"
    "footer";
}

/* giver vores navagiation flex, så det kan bevægesig fridt */
nav ul {
  display: flex;
  justify-content: space-between; /* giver så vært element i vores nav har lige meget plads rundt om sig*/
  list-style-type: none; /* fjerner dotterne på vores links */
  margin: auto; /* angiver margin og sætter det til auto så den selv adjuster størelsen*/
  padding: 0 20px; /* angiver padding*/
}

/* fjerne list type fra vores ankorere */
nav ul a {
	list-style: none;
}


.forsidebillede{width: 30%;
	display: block;
	  margin-left: auto;
	  margin-right: auto;}

.forside1 {width: 30% }

.forside2 {width: 30%}

.forside3 {width: 30%}

.facebooklogo {width: 5%}

.instalogo {width: 10%}


/********** priser opbyggelse ************/

* {
	box-sizing: border-box;
}

img {
	max-width: 100%; display: block; border-radius: 20%;
}

/*body {font: 1.2em Helvetica, arial, sans-serif;}
*/
a:link, a:visited {
      text-decoration: none;
      color: #707070;
	font-size: 1.3em;
    }

h1 {
	text-align: center;
	color: #707070;
}

h2 {

      background-color: #D0E8EA;
      color: #707070;
      text-align: center;
      margin: 0;
      padding: 10px;
	font-family: "Avenir Next Regular"
    }

h3  { background-color: #ffffff;
    color: #7f828c;
    text-align: center;
    margin: 0;
    padding: 10px;
	}	
p  { background-color: #ffffff;
    color: #7f828c;
    text-align: center;
    margin: 0;
    padding: 10px;
	}	

.listing {
      list-style: none;
      margin: 0;
      display: grid;
      grid-gap: 30px;

      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

    }

.listing li{
	border: 1px solid #707070;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}

.listing li a {
	margin-top: auto;
	border-top: 1px solid #707070;
	padding: 10px;
	text-align: center;
}

.listing li p {
	padding: 10px;
}

.body_text {
	margin: 0;
	padding: 10px;
	float: right;
}


/***************kontact*********************************/

/***********************Om os *********************************************/


.s1 {
	display: grid;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/********************************************************************/
article section {
  border: 20px solid #FFFFFF;
  /*background-color: #ffec99;*/
  border-radius: 5px; /* gør borderens højrner mere runde*/
  padding: 10px;
}

#wrapper_omso .article section {
	border: 20px solid #4EADE8;
}

/*class="article_content"*/
/*#wrapper_priser .article_content {
	display: grid;
	grid-gap: 20px;
	grid-template-areas:
	"section1 section2"
	"section3 section4"
	"section5 section6";
}
*/

/* skal måske slettes*/

#wrapper_kontact .article_content {
	display: grid;
	grid-gap: 20px;
	grid-template-areas:
	"section1 section2"
	"section3 section4"
	"section5 section6";
}
.Kontact_h3 {
display: grid;
background: #D0E8EA;
width: 10em;
padding: 0.2em;
grid-area: Kontacth3;
}



.kontact_Loc_Image {
display: flex;
align-content: flex-end;
grid-area: Kontact_image_placment;
}

.kontact_section_grid {
	display: grid;
	grid-template-areas:
" Kontacth3 Kontact_image_placment"
" Textplacement Kontact_image_placment"
" Textplacement Kontact_image_placment"
}


#email_b input [type=text] {
	  background-color: white;
	  background-image: url('searchicon.png');
	  background-position: 10px 10px;
	  background-repeat: no-repeat;
	}

select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

 select {
	  width: 40%;
	  padding: 16px 20px;
	  border: none;
	  border-radius: 4px;
	  background-color: #f1f1f1;
}

 input[type=submit] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 20px 10px;
  cursor: pointer;
}

ul .title_Pr {text-align: center;}
.title_li { border: none;text-align: center;}

.billed {
		max-width: 45%; display: block;
	float: left;
	}

.center {
	text-align: center;
}
/*får iconer i footer til at stå ved siden af hinanden, og ikke under hinanden*/
footer a {
	float: left;
}

/***************************DESKTOP***************************/
@media (min-width: 500px) {
.Wrapper {
	max-width: 1300px;
}
	.h1_produkt {
  grid-row-start: 1;
  grid-row-end: 2;
	grid-column-start: 1;
  grid-column-end: 4;
}
	.p_produkt {
  grid-row-start: 2;
  grid-row-end: 3;
	grid-column-start: 1;
  grid-column-end: 4;
}


}
